.wrapper {
  height: 90vh;

  .background {
    z-index: -10;
    position: absolute;
    top: 0vh;
    height: 100vh;
    width: 100%;
    background-color: $color-white;
    background-image: url("../../img/MainBackground2.svg");
    /*background: linear-gradient(transparent 85%, $color-white),
      url("../../img/MainBackground2.svg");*/
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;

    @include respond(mid_desk) {
      background-size: cover;
    }
  }
}
