.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  flex-wrap: wrap;

  &__welcome,
  &__add,
  &__routines {
    margin: 3rem auto;
    border: 1px solid $color-alabaster;
    border-radius: 1rem;
    padding: 3rem;
    background-image: linear-gradient(to right, $color-white, $color-alabaster);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  &__welcome {
    margin-top: 10rem;
    flex: 0 0 90%;

    &--title,
    &--user {
      text-transform: uppercase;
    }

    &--title {
      font-size: 5rem;
      letter-spacing: 1rem;
      font-weight: 500;
    }

    &--user {
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
    }
  }

  &__add {
    flex: 0 0 90%;
  }

  &__routines {
    flex: 0 0 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .routine {
      display: flex;
      flex-direction: column;
      margin: 2rem 1rem;
      border: 1px solid $color-bone;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      flex: 0 0 10%;
      height: 10rem;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 1rem;

      &__name {
        font-size: 2rem;
        text-decoration: none;
        letter-spacing: 0.1rem;
        color: $color-primary-3;

        &:hover {
          animation: pulsate 1s infinite;
        }
      }
    }
  }
}
