.section-about {
  padding: 8rem 8rem;
  height: 90vh;
  border-radius: $default-border-radius;

  @include respond(tab_port) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    float: right;
    margin-top: 5rem;
    width: 30%;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab_port) {
      border-radius: 3rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25),
        0 1rem 1rem rgba(0, 0, 0, 0.22);
      float: unset;
      background-color: $color-alabaster;
      height: 70%;
      width: 60%;

      h2,
      p {
        margin: 4rem;
      }
    }
  }
}
